#postsDiv {
  height: 50vh;
  overflow: scroll;
}
#postsDiv::-webkit-scrollbar {
  display: none;
}
#root {
  height: 100vh;
  position: relative;
  background-color: burlywood; /* yes */
}
#navBar {
  position: relative;
  height: 2rem;
}
#logoutLink {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
.likeFire {
  opacity: 0.1;
  cursor: pointer;
}
